@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_main {
  width: 100%;
  padding: 30px 100px;
}
.header_main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}
.header_main_content_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}
.header_main_content_contact > img {
  margin-left: 30px;
}
.header_main_content_contact button {
  margin-left: 30px;
}
.header_main_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  margin-top: 45px;
}
.header_main_body_info {
  width: 561px;
  text-align: left;
  padding: 0px;
}

.pink-button {
  padding: 5px 15px;
  height: 55px;
  background: #f05670;
  border-radius: 10px;
  border: 1px solid black;
  outline-style: solid;
  outline-color: #f05670;
  cursor: pointer;
  outline-width: thin;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.slider_main {
  width: 100%;
  background: #1e959b;
  height: 95px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
}
.slider_main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  position: absolute;
  margin: auto;
  width: 80%;
}
.slider_main_content_images {
  width: 350px;
  margin: auto;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.slider_second {
  padding: 30px 100px;
  margin-top: 35px;
  width: 100%;
  position: relative;
}
.slider_second_main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}
.slider_second_main_images {
  margin: 0 auto;
  text-align: center;
  border-radius: 25px;
  padding: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f9fd));
  background: linear-gradient(180deg, #ffffff 0%, #f7f9fd 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
          box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.slider_second_main_images:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f9fd));
  background: linear-gradient(180deg, #ffffff 0%, #f7f9fd 100%);
  -webkit-box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
          box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
}
.slider_second_main_images_text {
  margin-top: 5px;
}
.slider_second_main_images_text p {
  font-family: "Duru Sans", sans-serif;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 17px;
}

.slider_main_left,
.slider_main_right {
  display: none;
  position: absolute;
  font-size: 75px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
}

.slider_main_left {
  left: 5px;
}

.slider_main_right {
  right: 5px;
}

.second_slide_left,
.second_slide_right {
  color: #1e959b;
  top: 70px;
}

.third_slide_left,
.third_slide_right {
  color: #1e959b;
  top: 90px;
}

h1 {
  color: #1e959b;
  text-transform: uppercase;
  font-family: "Duru Sans", sans-serif;
}

p {
  font-family: "Duru Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  text-align: left;
  line-height: 25px;
  color: #3c3c3c;
  margin: 25px 0;
}

.second {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
  position: relative;
  overflow: hidden;
}
.second_elipse {
  position: absolute;
}

.el0 {
  top: 0;
  left: 7px;
}

.el1 {
  bottom: 0;
  left: 50%;
}

.el2 {
  left: 0;
  bottom: 120px;
}

.el3 {
  top: 0;
  right: 0;
}

.section_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  padding: 30px 100px;
}
.section_content_text {
  width: 560px;
}

.for_background {
  position: relative;
  width: calc(100% / 4.5);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.third_slider {
  padding: 30px 100px;
  position: relative;
}
.third_slider_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  position: relative;
  z-index: 7;
}
.third_slider_main_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f9fd));
  background: linear-gradient(180deg, #ffffff 0%, #f7f9fd 100%);
  -webkit-box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
          box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin: 40px 5px;
  height: 500px;
  z-index: 7;
  position: relative;
}
.third_slider_main_images p {
  text-align: center;
  text-transform: uppercase;
  color: #1e959b;
  font-weight: bold;
}
.third_slider_main_images_images {
  background: #1e959b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
  height: 200px;
  width: 200px;
}
.third_slider_main_images_background {
  top: 285px;
  position: absolute;
  z-index: -1;
  width: 120%;
  background: #1e959b;
  height: 140px;
}

.third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: none;
      flex-wrap: none;
}
.third button {
  width: 400px;
  height: 100px;
  font-size: 35px;
}

a {
  outline: none;
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  padding: 30px 100px;
}
footer p {
  color: #1e959b;
}
footer .footer_content {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}
footer .footer_content p {
  color: #3c3c3c;
}

@media only screen and (max-width: 600px) {
  p {
    text-align: center;
  }

  .header_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
    padding: 0;
    width: 100%;
  }
  .header_main_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
    margin: auto;
    text-align: center;
  }
  .header_main_content > div {
    padding: 0 !important;
  }
  .header_main_content_contact {
    display: none;
  }
  .header_main_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
    margin-top: 25px;
    text-align: center;
    width: 100vw;
    position: relative;
  }
  .header_main_body_info {
    padding: 15px;
    margin: 25px auto;
    width: 100vw;
    text-align: center;
  }
  .header_main_body_info button {
    position: absolute;
    bottom: 90px;
    left: calc(100% / 3.5);
  }
  .header_main_body_img > img {
    text-align: center;
    width: 100%;
  }

  .slider_main {
    width: 100%;
  }
  .slider_main_content {
    margin: auto;
    overflow: hidden;
    width: 100vw;
  }
  .slider_main_content_images {
    min-width: 100vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
  }

  .slider_main_left,
.slider_main_right {
    display: inline;
  }

  .slider_second {
    width: 100%;
  }
  .slider_second_main {
    margin: auto;
    width: 100%;
    overflow: hidden;
  }
  .slider_second_main_images {
    min-width: 100%;
    margin: auto;
  }

  .section_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 5px;
  }
  .section_content_image > img {
    width: 100%;
  }
  .section_content_text {
    width: 100%;
  }
  .section_content_text p {
    font-size: 15px;
  }
  .section_content button {
    position: absolute;
    bottom: 0px;
    left: calc(100% / 3.5);
  }

  .second {
    display: none !important;
  }

  .third_slider {
    overflow: hidden;
  }
  .third_slider_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: auto;
    width: 100%;
    overflow: hidden;
  }
  .third_slider_main_images {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
  }
  .third_slider_main_images_background {
    top: 88px;
    min-width: 100%;
    padding: none;
    position: absolute;
    z-index: 3;
  }

  .for_background {
    min-width: 100%;
  }

  .section_content {
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
    width: 100%;
  }
  .section_content img {
    margin: auto;
    text-align: center;
  }
  .section_content .third_btn {
    left: 57px !important;
    width: 80%;
    text-align: center;
    bottom: -80px;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: none;
        flex-wrap: none;
    margin-top: 55px;
  }
  footer > div:first-child {
    display: none;
  }
  footer .footer_content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: none;
        flex-wrap: none;
  }
  footer .footer_content p {
    font-size: 12px;
    text-align: left;
    width: 350px;
  }
  footer .footer_content img {
    height: 100%;
  }
}
.disabled {
  color: gray;
}